@font-face {
  font-family: "iconfont"; /* Project id 3890283 */
  src: url('//at.alicdn.com/t/c/font_3890283_x0v3url7ivr.woff2?t=1676471571135') format('woff2'),
  url('//at.alicdn.com/t/c/font_3890283_x0v3url7ivr.woff?t=1676471571135') format('woff'),
  url('//at.alicdn.com/t/c/font_3890283_x0v3url7ivr.ttf?t=1676471571135') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x_jiage:before {
  content: "\e68c";
}

.icon-shouye:before {
  content: "\e626";
}

.icon-shangjiantou:before {
  content: "\e62f";
}

.icon-xiajiantou:before {
  content: "\e647";
}

.icon-back:before {
  content: "\e622";
}

.icon-shijian:before {
  content: "\e619";
}

.icon-dianzan-01:before {
  content: "\e623";
}

.icon-kefu:before {
  content: "\e62a";
}

.icon-fangdajing:before {
  content: "\e62b";
}




