* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
html, body, #app {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
input {
    background: none;
    outline: none;
    border: none;
}
input:focus {
    border: none;
}
